@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black antialiased;
}

.btn,
.card,
.input {
  @apply rounded-none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border: 1px solid #fff;
}
@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.animate-terminal-blink {
  animation: blink 1s infinite;
}
